USE [master]
GO
/****** Object:  Database [Library]    Script Date: 2022. 02. 27. 12:10:32 ******/
CREATE DATABASE [Library]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Library', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Library.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Library_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Library_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Library].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Library]
GO
/****** Object:  Table [dbo].[t_books]    Script Date: 2022. 02. 27. 12:10:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_books](
	[bookno] [int] NOT NULL,
	[ISBN] [varchar](30) NOT NULL,
	[bookname] [varchar](30) NOT NULL,
	[typeno] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[bookno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[t_booktype]    Script Date: 2022. 02. 27. 12:10:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_booktype](
	[typeno] [int] NOT NULL,
	[typename] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[typeno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[t_lendbook]    Script Date: 2022. 02. 27. 12:10:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_lendbook](
	[recordno] [int] NOT NULL,
	[readerno] [int] NOT NULL,
	[bookno] [int] NOT NULL,
	[lendtime] [datetime] NULL,
	[returntime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[recordno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[t_readerinfo]    Script Date: 2022. 02. 27. 12:10:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_readerinfo](
	[readerno] [int] NOT NULL,
	[readername] [varchar](30) NOT NULL,
	[readeremail] [varchar](30) NOT NULL,
	[readeraddress] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[readerno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[t_readertype]    Script Date: 2022. 02. 27. 12:10:32 ******/

ALTER TABLE [dbo].[t_books]  WITH CHECK ADD  CONSTRAINT [FK_t_books_t_booktype] FOREIGN KEY([typeno])
REFERENCES [dbo].[t_booktype] ([typeno])
GO
ALTER TABLE [dbo].[t_books] CHECK CONSTRAINT [FK_t_books_t_booktype]
GO
ALTER TABLE [dbo].[t_lendbook]  WITH CHECK ADD  CONSTRAINT [FK_t_lendbook_t_books] FOREIGN KEY([recordno])
REFERENCES [dbo].[t_books] ([bookno])
GO
ALTER TABLE [dbo].[t_lendbook] CHECK CONSTRAINT [FK_t_lendbook_t_books]
GO
ALTER TABLE [dbo].[t_lendbook]  WITH CHECK ADD  CONSTRAINT [FK_t_lendbook_t_readerinfo] FOREIGN KEY([recordno])
REFERENCES [dbo].[t_readerinfo] ([readerno])
GO
ALTER TABLE [dbo].[t_lendbook] CHECK CONSTRAINT [FK_t_lendbook_t_readerinfo]
GO

USE [master]
GO
